@page
@model PropertyManagementPortal.Pages.Buildings.IndexModel

@{
    ViewData["Title"] = "Buildings";
}

<h3>All Buildings</h3>

<p>
    <a asp-page="Create">Add New Building</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Keyword:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.OwnerName">
                @Html.DisplayNameFor(model => model.Buildings[0].OwnerName)
                    </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TypeOfBuilding">
                @Html.DisplayNameFor(model => model.Buildings[0].TypeOfBuilding)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AddressOfBuilding">
                @Html.DisplayNameFor(model => model.Buildings[0].AddressOfBuilding)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Buildings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfBuilding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressOfBuilding)
            </td>
            <td> 
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="/Apartments/Index" asp-route-id="@item.Id">Manage Apartments</a>

            </td>
        </tr>
}
    </tbody>
</table>
