@page
@model PropertyManagementPortal.Pages.Apartments.IndexModel

@{
    ViewData["Title"] = "Index";
}





<h1>Index</h1>

<p>
    <a asp-page="Create" asp-route-Id="@ViewData["Id"]">Create New</a>
</p>
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apartment[0].TypeOfApartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apartment[0].ApartmentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apartment[0].Rent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apartment[0].RenterName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Apartment) {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.TypeOfApartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenterName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
             

            </td>
        </tr>
}
    </tbody>
</table>
